<style>
  #wrapper {
    width: 800px;
    margin: auto;
    margin-top: 80px;
    padding: 30px 10px;
    background-color: #EAEAEA;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 15px 15px 50px grey;
  }
</style>
<div id="wrapper">
  <%=
    @markdown.render(@article.title).html_safe
  %>
  <br>
  <%=
    @markdown.render(@article.content).html_safe
  %>



  <hr>
  <%= link_to "<= back to article list", articles_path %>
</div>
<br>
<br>
<br>


